body {
  margin: 0;
  font-family: Arial;
  background: #e5ddd5;
}

#login {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

#chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#top {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 70%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

#inputBar {
  display: flex;
  padding: 5px;
  background: #f0f0f0;
}

#inputBar input {
  flex: 1;
}

#typing {
  font-size: 12px;
  margin-left: 10px;
}

video {
  width: 120px;
}
