body {
  margin: 0;
  font-family: Arial;
  background: #e5ddd5;
}

.dark {
  background: #121212;
  color: white;
}

#darkBtn {
  position: fixed;
  top: 5px;
  right: 5px;
}

#login {
  width: 300px;
  margin: 120px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  background: #f0f0f0;
  overflow-y: auto;
}

.dark #sidebar { background:#1e1e1e; }

#userList div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#top {
  background: #075e54;
  color: white;
  padding: 10px;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 70%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.me { background:#dcf8c6; margin-left:auto; }
.other { background:white; }

.dark .me { background:#056162; }
.dark .other { background:#262d31; }

#inputBar {
  display: flex;
  padding: 5px;
  background: #eee;
}

#inputBar input {
  flex: 1;
}
